@model GenericProductViewModel
@{
    ViewData["Title"] = "Delete Products";
}

@if (Model.Outcome == "error")
{
    <div class="alert alert-danger alert-dismissible" style="z-index: 10000; margin-top: 1%; margin-left: 10%; margin-right: 10%;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Error Occurred!
    </div>
}

@if (Model.Outcome == "success")
{
    <div class="alert alert-info alert-dismissible" style="z-index: 10000; margin-top: 1%; margin-left: 10%; margin-right: 10%;">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        Product Deleted!
    </div>
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<form class="form-horizontal" method="post" style="width: 100%;">
    <div class="omrs-input-group">
        <label class="omrs-input-underlined">
            <input type="text" name="id" value="@Model.Id" placeholder=" " required>
            <span class="omrs-input-label">Product ID</span>
            <span class="omrs-input-helper">Enter product ID</span>
        </label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>